/* 检测自动填充的动画 */
@keyframes onAutoFillStart {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes onAutoFillCancel {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

/* 当浏览器自动填充时触发动画 */
input:-webkit-autofill {
  animation-name: onAutoFillStart;
}

input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

/* 隐藏自动填充的背景色 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}
